<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <pages validateRequest="false" enableEventValidation="true"></pages>
    <sessionState timeout="3600" mode="InProc"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="ConnectionMySqlHomologacao" providerName="MySql.Data.MySqlClient" connectionString="Data Source=mydb.crcqo9xevake.sa-east-1.rds.amazonaws.com;Initial Catalog='sigee';Persist Security Info=yes;User Name='root';Password='Super$2010';use procedure bodies='false'" />
  </connectionStrings>
  <appSettings>
    <add key="tipoBanco" value="1" />
    <add key="tipoConexao" value="2" />
    <add key="googlemaps.subgurim.net" value="AIzaSyCGHb4XssOCwW1lNSqggBRXpZ-BQ2jzCt8" />
    <add key="Anexos" value="C:\Renew\Projetos\Clientes\Sigee\Sigee\Anexos\" />
    <add key="Logo" value="C:\Renew\Projetos\Clientes\Sigee\Sigee\Imagens\logoSigee.png" />
    <add key="OrdemServico" value="C:\Renew\Projetos\Clientes\Sigee\Sigee\OrdemServico\" />
  </appSettings>
</configuration>
<!--ProjectGuid: 43DA20ED-119E-4D7B-8EF4-714051C06D3B-->