<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <pages validateRequest="false" enableEventValidation="true"></pages>
    <sessionState timeout="3600" mode="InProc"></sessionState>
  </system.web>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=sigee;Uid=root;Pwd=root;charset=utf8;pooling=false" name="ConnectionMySqlHomologacao" />
  </connectionStrings>
  <appSettings>
    <add key="tipoBanco" value="1" />
    <add key="tipoConexao" value="2" />
    <add key="googlemaps.subgurim.net" value="AIzaSyCGHb4XssOCwW1lNSqggBRXpZ-BQ2jzCt8" />
    <add key="Anexos" value="\Anexos\" />
    <!--<add key="Logo" value="C:\Renew\Projetos\Clientes\Sigee\Sigee\Imagens\logoSigee.png"/>-->
    <!--<add key="OrdemServico" value="C:\Renew\Projetos\Clientes\Sigee\Sigee\OrdemServico\"/>-->
    <add key="OrdemServico" value="D:\Projetos_Desenvolvimento\sigee\Sigee\OrdemServico\" />
    <add key="Logo" value="D:\Projetos_Desenvolvimento\sigee\Sigee\Imagens\logoSigee.png" />
  </appSettings>
</configuration>
<!--ProjectGuid: 43DA20ED-119E-4D7B-8EF4-714051C06D3B-->